<launch>    
    <!-- STATIC TRANSFORMS -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_1" args="0 0 0 0 0 0 map odom" />        
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_2" args="0 0 0 0 0 0 odom base_link" />  
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_3" args="0 0 0 0 0 0 base_link imu" /> 
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_4" args="0 0 0 0 0 0 imu gps" />             
 -->
     <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_4" args="0 0 0 0 0 0 imu gps" />             

    <!-- GPS -->
      <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen">        
        <param name="port" type="string" value="/dev/ttyACM0" />   
        <param name="baud" type="int" value="115200" />
    </node> 
    <!-- FAKE GPS -->
   <!--  <node pkg="gps_to_path" type="fake_gps" name="fake_gps" /> -->
	
    <!-- AZIMUTH -->
    <node pkg="gps_to_path" type="mag_field_to_azimuth" name="mag_field_to_azimuth">
    </node>

    <!-- PATH -->
    <node pkg="gps_to_path" type="gps_to_path" name="gps_to_path" output="screen">
        <param name="num_published_path_points" type="int" value="50" />
	<!-- vpravo dole  50.07620636, 14.41808127 -->
	<!-- vlevo nahore 50.07641599, 14.41790526 -->
	<!-- vlevo dole   50.07623571, 14.41793171 -->
    </node>

</launch>

