<launch>    
    <!-- STATIC TRANSFORMS -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_1" args="0 0 0 0 0 0 odom base_link" />             
        <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_2" args="0 0 0 0 0 0 odom imu" />             
        <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_3" args="0 0 0 0 0 0 imu gps" />             

    <!-- FAKE GPS -->
        <node pkg="gps_to_path" type="fake_gps" name="fake_gps" />
        
    <!-- AZIMUTH -->
        <node pkg="gps_to_path" type="fake_mag" name="fake_mag" />
    
    <!-- FAKE GPS -->
        <node pkg="gps_to_path" type="fake_waypoints_fn" name="fake_waypoints_fn" />

    <!-- PATH -->
        <node pkg="gps_to_path" type="osm_to_pcd" name="osm_to_pcd" output="screen">
            <param name="points_density" type="int" value="2" /> 
        </node>
</launch>

