<launch>    
    <arg name="gpx_file" default="$(find gps_to_path)/data/unhost_final_demo_husky_east.gpx" />
    <arg name="circular_path" default="true" />
    <arg name="reversed_path" default="false" />
    <arg name="repeat" default="false" />
    <arg name="start_from_nearest_point" default="true" />
    <arg name="run_gps_drivers" default="true" />

    <include file="$(dirname)/gps_drivers.launch" if="$(arg run_gps_drivers)" pass_all_args="true" />

    <!-- PATH -->
    <node pkg="gps_to_path" type="gps_to_path" name="gps_to_path" output="screen">
	<param name="num_published_path_points" type="int" value="100"/>
	<param name="gpx_file" type="string" value="$(arg gpx_file)"/>
	<param name="circular" type="bool" value="$(arg circular_path)"/>	
	<param name="reversed_path" type="bool" value="$(arg reversed_path)"/>
	<param name="path_points_density" type="double" value="0.1"/>
	<param name="repeat" type="bool" value="$(arg repeat)" />
	<param name="start_from_nearest_point" type="bool" value="$(arg start_from_nearest_point)" />
    </node>

    <!-- OSM TO PCD -->
    <!--node pkg="gps_to_path" type="osm_to_pcd" name="osm_to_pcd" output="screen">
        <param name="points_density" type="int" value="2" /> 
    </node-->
</launch>

