<launch>      
    <arg name="run_ntrip_relay" default="true" />
    <arg name="sound_fix_alerts" default="true" />
    
    <arg name="fake_driver" default="false" doc="If true, a fake GPS position is published just to satify the nodes that need some GPS." />
    <arg name="fake_driver_gpx_file" default="" />
    <arg name="fake_driver_gpx_waypoint_nr" default="0" />
    
    <arg name="robot" value="$(optenv HOSTNAME)" />
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 gps_antenna gps" if="$(eval robot == 'ctu-robot')" />             

<node pkg="gps_to_path" type="get_mag_shift" name="get_mag_shift">
	<param name="measuring_time" value="30" />
   </node>
   <node pkg="gps_to_path" type="mag_field_to_azimuth" name="mag_field_to_azimuth">
	<!--param name="x_mean" value="-0.01" /-->
        <!--param name="y_mean" value="0.155" /-->
        <!--param name="z_mean" value="0.24" /-->
   </node>

    <group unless="$(arg fake_driver)">
        <!-- LLH FROM GPS TO FIX -->
        <node pkg="gps_to_path" type="llh_publisher" name="llh_publisher" output="screen" respawn="true">        
            <param name="port" type="string" value="/dev/ttyACM_gps" />   
            <param name="baud" type="int" value="115200" />
        </node>
    
        <node pkg="gps_to_path" type="llh_to_fix" name="llh_to_fix" output="screen" respawn="true">        
        </node>
    
        <node pkg="gps_to_path" type="sound_fix_cov" name="sound_fix_cov" output="screen" respawn="true" if="$(arg sound_fix_alerts)">        
            <param name="sound_period" type="int" value="30" />
        </node>
    
        <!-- NTRIP CORRECTIONS -->
        <node name="ntrip_relay" pkg="http_relay" type="relay" if="$(arg run_ntrip_relay)" respawn="true">
            <param name="host" value="ntrip.pecny.cz" />
            <param name="port" value="2101" />
            <param name="num_threads" value="2" />
            <param name="sigkill_timeout" value="30" />
            <param name="sigkill_on_stream_stop" value="true" />
        </node>
    </group>

    <group if="$(arg fake_driver)">
        <!-- FAKE GPS -->
        <node pkg="gps_to_path" type="fake_gps" name="fake_gps">
            <param name="gpx_file" value="$(arg fake_driver_gpx_file)" if="$(eval fake_driver_gpx_file != '')" />
            <param name="gpx_waypoint_nr" value="$(arg fake_driver_gpx_waypoint_nr)" />
        </node>
    </group>

</launch>    
