<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="max_age" default="1.0"/>
    <arg name="decrement_buttons" default="3,2"/>  <!-- Logitech F710: Y+X -->
    <arg name="increment_buttons" default="3,1"/>  <!-- Logitech F710: Y+B -->
    <arg name="step" default="1"/>

    <arg name="joy_topic" default="/joy"/>
    <arg name="waypoint_topic" default="/waypoint"/>

    <node name="joy_waypoint_control" pkg="gps_to_path" type="joy_waypoint_control"
          respawn="true" respawn_delay="1.0" output="screen">

        <rosparam subst_value="true">
            max_age: $(arg max_age)
            decrement_buttons: [$(arg decrement_buttons)]
            increment_buttons: [$(arg increment_buttons)]
            step: $(arg step)
        </rosparam>

        <remap from="joy" to="$(arg joy_topic)"/>
        <remap from="waypoint" to="$(arg waypoint_topic)"/>
    </node>

    <arg name="debug" default="false"/>
    <group if="$(arg debug)">
        <node name="joy" pkg="joy" type="joy_node">
            <remap from="joy" to="$(arg joy_topic)"/>
        </node>
        <node name="joy_echo" pkg="rostopic" type="rostopic"
              args="echo $(arg joy_topic)" output="screen"/>
        <node name="waypoint_echo" pkg="rostopic" type="rostopic"
              args="echo $(arg waypoint_topic)" output="screen"/>
    </group>
</launch>
