 <launch>      
    <arg name="gpx_assignment" default="$(find gps_to_path)/data/kn_aerial.gpx" />
    <arg name="run_ntrip_relay" default="true" />

<!-- STATIC TRANSFORMS -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0.02 0.27 -0.42 0 0 0 imu gps" />             

<!-- LLH FROM GPS TO FIX -->
    <node pkg="gps_to_path" type="llh_publisher" name="llh_publisher" output="screen">        
        <param name="port" type="string" value="/dev/ttyACM_gps" />   
        <param name="baud" type="int" value="115200" />
    </node>

    <node pkg="gps_to_path" type="llh_to_fix" name="llh_to_fix" output="screen">        
    </node>

    <node pkg="gps_to_path" type="sound_fix_cov" name="sound_fix_cov" output="screen">        
	    <param name="sound_period" type="int" value="30" />
    </node>

<!-- NTRIP CORRECTIONS -->
    <node name="ntrip_relay" pkg="http_relay" type="relay" if="$(arg run_ntrip_relay)">
        <param name="host" value="ntrip.pecny.cz" />
        <param name="port" value="2101" />
        <param name="num_threads" value="2" />
    </node>

<!-- FAKE GPS -->
    <!--node pkg="gps_to_path" type="fake_gps" name="fake_gps" /-->

<!-- AZIMUTH -->
    <node pkg="gps_to_path" type="get_mag_shift" name="get_mag_shift">
        <param name="measuring_time" value="30" />
    </node>

    <node pkg="gps_to_path" type="mag_field_to_azimuth" name="mag_field_to_azimuth">
    </node>

<!-- PATH PLANNER -->
    <node pkg="gps_to_path" type="path_planner_igraph" name="path_planner" output="screen">
    	<param name="gpx_assignment" type="string" value="$(arg gpx_assignment)"/>
    </node>

<!-- PATH -->
    <node pkg="gps_to_path" type="waypoints_to_path" name="waypoints_to_path" output="screen">
    </node>

    <node pkg="gps_to_path" type="trav_to_obstacles" name="trav_to_obstacles" output="screen"/>             


<!-- OSM PCD VISUALIZATION -->
    <node pkg="gps_to_path" type="osm_to_pcd_for_path_planner" name="osm_to_pcd_for_path_planner" output="screen">
    </node>

</launch>    
