<launch>      
    <arg name="gpx_assignment" default="$(find gps_to_path)/data/old/kn_aerial.gpx" />
    <arg name="run_ntrip_relay" default="true" />
    <arg name="robot_base_frame" default="base_link" />
    <arg name="odom_frame" default="gps_odom" />
    <arg name="use_osm" default="true" />
    <arg name="repeat" default="false" />
    <arg name="flip" default="false" />
    <arg name="trav_obstacle_field" default="cost" />
    <arg name="trav_topic" default="traversability" />
    <arg name="max_height" default="1.0"/>
    <arg name="min_height" default="-1."/>
    <arg name="run_gps_drivers" default="false" />
    <arg name="fake_driver" default="false" />
    <arg name="fake_driver_from_gpx" default="true" />

    <include file="$(dirname)/gps_drivers.launch" if="$(eval run_gps_drivers or fake_driver)" pass_all_args="true">
        <arg name="fake_driver_gpx_file" value="$(arg gpx_assignment)" if="$(arg fake_driver_from_gpx)" />
    </include>

<!-- PATH PLANNER -->
    <node pkg="gps_to_path" type="path_planner_igraph" name="path_planner_igraph" output="screen" respawn="true">
    	<param name="gpx_assignment" type="string" value="$(arg gpx_assignment)"/>
        <param name="goal_reached_distance" type="double" value="2."/>
        <param name="publish_pcd" type="bool" value="true"/>
        <param name="trav_max_dist" type="double" value="20."/>	
        <param name="points_absence_radius" type="double" value="2."/>	
        <param name="trav_radius" type="double" value="0.25"/>
        <param name="untrav_cost" type="double" value="100."/>
        <param name="absence_cost" type="double" value="200."/>
        <param name="max_traversable_cost" type="double" value="70."/>
        <param name="long_term_memory_longevity" type="double" value="0.997" />
        <param name="short_term_memory_longevity" type="double" value="0.9"/>
        <param name="trav_inheritance_radius" type="double" value="0.36"/>	
        <param name="robot_base_frame" type="string" value="$(arg robot_base_frame)"/>
        <param name="max_goal_untrav_cost" type="double" value="100."/>
        <!--param name="max_path_cost" type="double" value="1000." /-->
        <param name="max_subgraph_time" type="double" value="30." />    <!-- in seconds per meter of path length -->
        <param name="use_osm" type="bool" value="$(arg use_osm)"/>
	    <param name="osm_use_solitary_nodes" type="bool" value="false"/>
        <param name="repeat" type="bool" value="$(arg repeat)"/>
        <param name="next_waypoint_proximity_switch" type="bool" value="true"/>
        <param name="min_time_near_goal" type="double" value="0.5"/>
        <param name="flip" type="bool" value="$(arg flip)"/>

        <param name="max_height" type="double" value="$(arg max_height)"/>
        <param name="min_height" type="double" value="$(arg min_height)"/>
        <param name="max_age" type="double" value="1."/>	
        <param name="trav_obstacle_field" type="string" value="$(arg trav_obstacle_field)"/>
        <param name="trav_topic" type="string" value="$(arg trav_topic)"/>
        <param name="odom_frame" type="string" value="$(arg odom_frame)"/>
        <param name="max_relative_path_cost_change" type="double" value="5."/>	
        <param name="heading_diff_cost" type="double" value="10."/>
    </node>

<!-- PATH -->
<!-- Legacy waypoints to path -->
<!--
    <node pkg="gps_to_path" type="waypoints_to_path" name="waypoints_to_path" output="screen">
        <param name="odom_frame" type="string" value="$(arg odom_frame)"/>
    </node>
-->
    <node name="path_waypoints_to_path" pkg="gps_to_path" type="waypoints_to_path_simple" output="screen" respawn="true">
        <param name="target_frame" value="$(arg odom_frame)"/>
        <param name="z_frame" value="base_link"/>
        <remap from="waypoints" to="path_waypoints"/>
        <remap from="path" to="path"/>
    </node>
    <node name="path_waypoints_to_path_utm" pkg="gps_to_path" type="waypoints_to_path_simple" output="screen" respawn="true">
        <param name="target_frame" value="utm"/>
        <param name="z_frame" value="base_link"/>
        <remap from="waypoints" to="path_waypoints"/>
        <remap from="path" to="path_utm"/>
    </node>
    
<!-- TRAVERSABILITY PROCESSING -->
    <!-- <node pkg="gps_to_path" type="trav_to_obstacles_bag" name="trav_to_obstacles_bag" output="screen">

        <remap from="cloud_segmentation/lidar_cloud" to="$(arg trav_topic)" />

        <param name="max_height" type="double" value="$(arg max_height)"/>
        <param name="min_height" type="double" value="$(arg min_height)"/>
        <param name="max_dist" type="double" value="7." />
        <param name="min_dist" type="double" value="0.5"/>
        <param name="max_age" type="double" value="1."/>	
        <param name="robot_base_frame" type="string" value="$(arg robot_base_frame)"/>
        <param name="trav_obstacle_field" type="string" value="$(arg trav_obstacle_field)"/>
        <param name="trav_topic" type="string" value="$(arg trav_topic)"/>
    </node> -->

<!-- Gamepad control of waypoints -->
    <include file="$(find gps_to_path)/launch/joy_waypoint_control.launch">
        <arg name="joy_topic" value="waypoint_control/joy" />
        <arg name="waypoint_topic" value="step" />
    </include>
    <node name="waypoint_joy" pkg="topic_tools" type="relay" args="joy_secondary/joy waypoint_control/joy" respawn="true" />
    <node name="waypoint_joy_tradr" pkg="topic_tools" type="relay" args="secondary_joy/joy waypoint_control/joy" respawn="true" />

<!-- OSM PCD VISUALIZATION -->
    <!-- <node pkg="gps_to_path" type="osm_to_pcd_for_path_planner" name="osm_to_pcd_for_path_planner" output="screen">
        <param name="odom_frame" type="string" value="$(arg odom_frame)"/>
    </node> -->

    <node pkg="gps_to_path" type="osm_visualizer" name="osm_visualizer" output="screen" respawn="true">
    	<param name="gpx_assignment" type="string" value="$(arg gpx_assignment)"/>
    	<param name="do_transform_to_odom" type="bool" value="true"/>
    	<param name="odom_frame" type="string" value="$(arg odom_frame)"/>
    	<param name="offset" type="string" value="0,0"/>
    </node>

</launch>    
