<launch>      
    <arg name="path_planner_node_name" default="/path_planner_igraph" />
    <arg name="utm_z_offset" default="0.0" />
    <arg name="utm_zone" default="" />
    <arg name="osm_vis" default="false" />

    <node name="autonomy_override_vis" pkg="gps_to_path" type="autonomy_override_vis"/>

    <node name="fix_to_utm" pkg="gps_to_path" type="fix_to_utm">
        <param name="publish_pose" value="true" />
        <param name="publish_odom" value="true" />
        <param name="publish_path" value="true" />
        <param name="path_min_distance" value="0.25" />
        <param name="path_frame_id" value="utm_local" />
        <param name="z_offset" value="$(arg utm_z_offset)" />
        <param name="utm_zone" value="$(arg utm_zone)" if="$(eval utm_zone != '')" />
        <remap from="~fix" to="fix" />
    </node>

    <node name="fix_filtered_to_utm" pkg="gps_to_path" type="fix_to_utm">
        <param name="publish_pose" value="true" />
        <param name="publish_odom" value="true" />
        <param name="publish_path" value="true" />
        <param name="path_min_distance" value="0.25" />
        <param name="path_frame_id" value="utm_local" />
        <param name="z_offset" value="$(arg utm_z_offset)" />
        <param name="utm_zone" value="$(arg utm_zone)" if="$(eval utm_zone != '')" />
        <remap from="~fix" to="gps/fix_filtered" />
    </node>

    <node name="fix_smoothed_to_utm" pkg="gps_to_path" type="fix_to_utm">
        <param name="publish_pose" value="true" />
        <param name="publish_odom" value="true" />
        <param name="publish_path" value="true" />
        <param name="path_min_distance" value="0.25" />
        <param name="path_frame_id" value="utm_local" />
        <param name="z_offset" value="$(arg utm_z_offset)" />
        <param name="utm_zone" value="$(arg utm_zone)" if="$(eval utm_zone != '')" />
        <remap from="~fix" to="gps/filtered" />
    </node>

    <node name="gpx_visualize" pkg="gps_to_path" type="gpx_visualize">
        <param name="z_offset" value="$(arg utm_z_offset)" />
        <param name="utm_zone" value="$(arg utm_zone)" if="$(eval utm_zone != '')" />
        <param name="path_frame_id" value="utm_local" />
        <remap from="~gpx_file" to="$(arg path_planner_node_name)/gpx_assignment" />
        <remap from="~reverse" to="$(arg path_planner_node_name)/flip" />
    </node>
    
    <node name="visualize_azimuth" pkg="compass" type="visualize_azimuth">
        <remap from="~azimuth" to="compass/true/enu/rad" />
    </node>

    <node name="gps_odom_path" pkg="nav_utils" type="tf_to_path">
        <param name="parent_frame" value="gps_odom" />
        <param name="child_frame" value="base_link" />
        <param name="stamp_trigger_frame" value="gps_odom" />
        <remap from="path" to="gps_odom_path" />
    </node>

    <node name="osm_visualize" pkg="gps_to_path" type="osm_visualize" if="$(arg osm_vis)">
        <remap from="~gpx_assignment" to="$(arg path_planner_node_name)/gpx_assignment" />
        <param name="z_offset" value="$(arg utm_z_offset)" />
    </node>

    <node name="costmap_slow" pkg="topic_tools" type="throttle" args="messages graph_pcd 0.5 graph_pcd_slow" respawn="true" />

    <node name="processed_waypoints_path" pkg="gps_to_path" type="waypoints_to_path_simple">
        <param name="target_frame" value="utm" />
        <param name="z_frame" value="base_link" />
        <remap from="waypoints" to="processed_waypoints" />
        <remap from="path" to="processed_waypoints_path" />
    </node>

    <node name="original_waypoints_path" pkg="gps_to_path" type="waypoints_to_path_simple">
        <param name="target_frame" value="utm" />
        <param name="z_frame" value="base_link" />
        <remap from="waypoints" to="original_waypoints" />
        <remap from="path" to="original_waypoints_path" />
    </node>

</launch>    
